*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    width: 100px;
    height: 35px;
}
.reset{
    padding: 9px;
}

.container{
    /* margin: 0 auto; */
    border: 1px solid lightpink;
    height: 960px;
    width: 960px;
    /* display: flex; */
} 
.grid-row{
    display: flex;
}
.grid-box{
    border: 0.5px solid rgba(169, 248, 238,0.9);
    border-radius: 10%;
    background-color: #f8ffff;
}